@{
    ViewBag.Title = "ViewSingleItem";
    Layout = null;
}
@using OSP.Models;
<h1 style="font-family:'Segoe Script'"><b>Displaying Single Items</b></h1>
<body>
    <div class="col-md-8">

           
                <br />
                <h3 style="font-family:'Segoe Print'"><b>Item Code:</b> @Model.ItemCode</h3>
                <h3 style="font-family: 'Segoe Print'"><b>Price:</b> @Model.Price</h3>
                <h3 style="font-family: 'Segoe Print'"><b>Description:</b>@Model.Description</h3>
                <h3 style="font-family: 'Segoe Print'"><b>Category: </b>@Model.Category</h3>
                <h3 style="font-family: 'Segoe Print'"><b>Stock: </b>@Model.Stock</h3>
               
            
      </div>
</body>




